img {
    height: 30%;
    width: 30%;
    border: 1px solid white;
}

div{
    margin: 10px;
}

h1 {
    text-align: center;
}

#button {

text-align: center;}

h2 {
    font-family: fantasy;
}

section {
    background-color: gray;
    margin: 5px;
    width: 300px;
    height: 300px;
    text-align: center;
}

#all {
    /* width: 700px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}